body{
	font-family: 'Source Code Pro', sans-serif;
	margin: 0; 
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: visible;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

.nav li{
	list-style: none; 
	font-size: 16px;
}

.nav .name {
	color: black;
}

.nav il:visited{
	color: black;
}


.nav li:hover{
	color: lightgray;
}


.nav h1:hover{
	color: black;
}

.container{
	display: inline-flex;
	width: 200px;
	height: 100%;
	position: fixed;
}

.container-nav {
	margin-left: 10px;
	display: block;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container h1 {
	font-size: 22px;
	color: black;
}

.social{
	width: 10%;
	padding-right: .6%;
}

.container-img {
	width: calc(100% - 200px);
	display: inline-block;
	position: relative;
	float: right;
}

.container-img img {
	width: 100%;
}

.contact.container-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact.container-img h1{
	position: absolute;
	color: white;
	padding: 50px;
}

@media screen and (max-width: 800px) {
	.container {
    position: relative;
    width: 100%;
    display: flex;
	}

	.container-img {
    width: 100%;
	}

	.contact.container-img h1 {
		position: absolute;
    color: white;
    font-size: 16px;
	}
}