body{
	font-family: 'Source Code Pro', sans-serif;
	margin: 0; 
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}

a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

.nav li{
	list-style: none; 
	font-size: 12px;
  cursor: pointer;
  padding: 10px 0;
  width: 80%;
}

.nav .name {
	color: black;
}

.nav il:visited{
	color: black;
}


.nav li:hover{
	color: lightgray;
}


.nav h1:hover{
	color: black;
}

.container{
	display: inline-flex;
  width: 190px;
  padding-left: 10px;
	height: 100%;
	position: fixed;
	z-index: 2;
	align-items: center;
	justify-content: center;
	background: white;
}

.container-nav {
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container h1 {
	font-size: 22px;
	color: black;
}

.social{
	width: 10%;
	padding-right: .6%;
}

.container-img {
	align-items: center;
	display: inline-flex;
	height: 100%;
	position: absolute;
	width: calc(100% - 200px);
	left: 200px;
}

.container-img img {
	margin-right: 20px;
	max-height: 90%;
}

.contact.container-img {
	display: block;
}

.contact.container-img h1{
	position: absolute;
	color: black;
	padding: 50px;
	font-size: 24px;
}

.disabled, .contact.disabled {
	display: none !important;
}

@media screen and (min-width: 800px) {
  .project-details--top {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
	body {
		overflow-y: visible;
	}

	.container {
    position: relative;
    width: 100%;
    display: flex;
	}

	.container-nav {
		width: unset;
	}

	.container-img {
		left: 0;
		width: 100%;
		display: inline-block;
		position: relative;
		text-align: center;
	}

	.container-img img {
		width: 100%;
		margin: 0 0 10px 0;
    max-height: unset;
	}

	.contact.container-img h1 {
		position: absolute;
    color: white;
		font-size: 16px;
  }

  .project-details {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    text-align: left;
  }
  
  .project-details--top,
  .project-details--bottom {
    max-width: 500px;
  }
}